.header {
    padding: 1rem 0 2rem;
}


.link {
    color: #1C1C20;

}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0rem;

}

.navItem {
    color: #2C1C20;
    font-size: .9rem;
    margin-right: 1rem;
    text-decoration: none;
}

.navItem:hover {
    color: #666666;
}

.activenavItem {
    color: black;
    font-weight: bold;

}
